/**
* @name Better Profiles
* @author kno
* @version 1.0.0
* @description Better User Profiles - Mixed with other people's creations to make it way better
* @invite PCcTegG8nU
* @source https://github.com/MDev123/betterdiscord-profiletheme
* @updateUrl https://github.com/MDev123/betterdiscord-profiletheme/blob/main/betterprofiles.theme.css
*/

/* 1.7 kb used to be lol */
@import url("https://dablulite.github.io/accountdetailscolumns/import.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/NormalizedForums.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/Touchup.css");
@import url("https://neodymium7.github.io/BetterDiscordStuff/CSS/AddServerDarkMode.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");
@import url("https://discordstyles.github.io/SoftX/ServerRings.css");


:root {
  --server-unread-colour: 255, 255, 255;
  --server-hover-colour: 255, 255, 255;
  --server-selected-colour: var(--accent, 0, 231, 169);
  --server-spacing: 16px;
  --server-glow-intensity: 1;
}


/* Rounded User Panel */
.panels-3wFtMD {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
  }
  
  .theme-dark .container-YkUktl,
  .container-1zzFcN,
  .theme-dark .panel-2ZFCRb {
    background-color: transparent !important;
  }
  
  .panels-3wFtMD .container-YkUktl .flex-2S1XBF {
    margin-left: -10px;
  }

  .role-2TIOKu {
    transform: translate(0);
    overflow: hidden;
    border: 0;

    --transparency: .4;
    border-radius: 5px;
}
.role-2TIOKu .roleRemoveIcon-387wKV {
    margin: 0;
    left: unset;
    transform: translate(50%,-50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT {
    position: static;
}
.role-2TIOKu .roleCircle-3TFUOr:after {
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    opacity: var(--transparency);
}
.container-2RRFHK {
    background: transparent;
    pointer-events: none;
}
.container-2RRFHK .anchor-1MIwyf { pointer-events: auto; }
.container-2RRFHK .content-3AIQZv .text-2bYgPB {
    display:none;
}
.container-2RRFHK .ready-3BZNWT {
    position: absolute;
    bottom: 44px;
    right: 244px;
    z-index: 1;
}

.container-2RRFHK img, .container-2RRFHK video {
    width: 32px;
    height: 32px;
}
.container-2RRFHK .problems-CvGwpb {
    padding: 8px 16px;
    bottom: 18px;
    left: unset;
    right: 18px;
    width:fit-content;
    height:fit-content;
    background-color: var(--background-floating);
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
    box-shadow: var(--elevation-stroke), var(--elevation-medium);
}
.modeMuted-2T4MDZ .icon-2W8DHg path{ display: none; }
.modeMuted-2T4MDZ .iconContainer-21RCa3{ position: relative; }
.modeMuted-2T4MDZ .iconContainer-21RCa3:before{
    content: '🔇';
    position: absolute;
    font-size: 20px; 
}
.markup-eYLPri blockquote, .markup-eYLPri pre > code{
    max-height:150px; /*Change this to your height preference.*/
    overflow-x: hidden;
    overflow-y:scroll;
    }
    .markup-eYLPri blockquote::-webkit-scrollbar, .markup-eYLPri pre > code::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    }
    .markup-eYLPri blockquote::-webkit-scrollbar-track , .markup-eYLPri pre > code::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255 255 255 / 8%);/*Change this to your color choice or just remove it entirely.*/
    }
    .markup-eYLPri blockquote::-webkit-scrollbar-thumb, .markup-eYLPri pre > code::-webkit-scrollbar-thumb {
    background-color: rgb(13 81 239 / 70%); /*Change this to your color choice or just remove it entirely.*/
    border-radius: 10px;
    }
    .markup-eYLPri blockquote, .markup-eYLPri pre > code {
    max-width: 629px;
    }
    #app-mount .repliedMessage-3Z6XBG {
        position: absolute;
        top: 25px;
        left: 86px;
        background: var(--background-secondary);
        border: 1px solid var(--background-tertiary);
        width: fit-content;
        max-width: calc(60vw - 240px);
        margin-left: -5px;
        padding: 3px 5px;
        border-radius: 0 4px 4px 4px;
        box-sizing: border-box;
      }
      #app-mount .repliedMessage-3Z6XBG > div {
        position: relative;
        z-index: 1;
      }
      #app-mount .repliedMessage-3Z6XBG img.replyAvatar-sHd2sU {
        display: none;
      }
      #app-mount .repliedMessage-3Z6XBG img.emoji {
        display: inline;
      }
      #app-mount .repliedMessage-3Z6XBG .username-h_Y3Us {
        margin-right: 5px;
      }
      #app-mount .repliedMessage-3Z6XBG::before {
        content: none;
      }
      #app-mount .repliedMessage-3Z6XBG::after {
        content: "";
        position: absolute;
        top: -1px;
        left: -4px;
        z-index: 0;
        width: 6px;
        height: 6px;
        border-radius: 0;
        background: var(--background-secondary);
        border: 1px solid var(--background-tertiary);
        transform: skewX(45deg);
        border-bottom: none;
        border-right: none;
      }
      #app-mount .repliedMessage-3Z6XBG + .contents-2MsGLg .header-2jRmjb {
        margin-bottom: 32px;
      }
